// setup some colors

.fg-black       { color: $black !important; }
.fg-blue        { color: $blue !important; }
.fg-gray        { color: $gray !important; }
.fg-green       { color: $green !important; }
.fg-orange      { color: $orange !important; }
.fg-gold        { color: $gold !important; }
.fg-pink        { color: $pink !important; }
.fg-purple      { color: $purple !important; }
.fg-yellow      { color: $yellow !important; }
.fg-white       { color: $white !important; }
.fg-red         { color: $red !important; }
.fg-none        { color: $nocolor !important;}

.bg-black       { background: $black !important; }
.bg-blue        { background: $blue !important; }
.bg-gray        { background: $gray !important; }
.bg-green       { background: $green !important; }
.bg-orange      { background: $orange !important; }
.bg-gold        { background: $gold !important; }
.bg-pink        { background: $pink !important; }
.bg-purple      { background: $purple !important; }
.bg-yellow      { background: $yellow !important; }
.bg-white       { background: $white !important; }
.bg-red         { background: $red !important; }
.bg-none        { background: $nocolor !important; }


// flat ui color, see https://flatuicolors.com/palette/defo
.fg-turqoise    { color: #3498db !important; }
.fg-emerald     { color: #2ecc71 !important; }
.fg-river       { color: #3498db !important; }
.fg-amthyst     { color: #9b59b6 !important; }
.fg-asphalt     { color: #34495e !important; }
.fg-greensea    { color: #16a085 !important; }
.fg-neprhitis   { color: #27ae60 !important; }
.fg-belize      { color: #2980b9 !important; }
.fg-wisteria    { color: #8e44ad !important; }
.fg-midnight    { color: #2c3e50 !important; }
.fg-sunflower   { color: #f1c40f !important; }
.fg-carrot      { color: #e67e22 !important; }
.fg-alizarin    { color: #e67e22 !important; }
.fg-clouds      { color: #ecf0f1 !important; }
.fg-concrete    { color: #95a5a6 !important; }
.fg-orange2     { color: #f39c12 !important; }
.fg-pumpkin     { color: #d35400 !important; }
.fg-pomegranate { color: #c0392b !important; }
.fg-silver      { color: #bdc3c7 !important; }
.fg-asbestos    { color: #7f8c8d !important; }

// https://flatuicolors.com/palette/defo */
.bg-turqoise    { background: #3498db !important; }
.bg-emerald     { background: #2ecc71 !important; }
.bg-river       { background: #3498db !important; }
.bg-amthyst     { background: #9b59b6 !important; }
.bg-asphalt     { background: #34495e !important; }
.bg-greensea    { background: #16a085 !important; }
.bg-neprhitis   { background: #27ae60 !important; }
.bg-belize      { background: #2980b9 !important; }
.bg-wisteria    { background: #8e44ad !important; }
.bg-midnight    { background: #2c3e50 !important; }
.bg-sunflower   { background: #f1c40f !important; }
.bg-carrot      { background: #e67e22 !important; }
.bg-alizarin    { background: #e67e22 !important; }
.bg-clouds      { background: #ecf0f1 !important; }
.bg-concrete    { background: #95a5a6 !important; }
.bg-orange2     { background: #f39c12 !important; }
.bg-pumpkin     { background: #d35400 !important; }
.bg-pomegranate { background: #c0392b !important; }
.bg-silver      { background: #bdc3c7 !important; }
.bg-asbestos    { background: #7f8c8d !important; }

// text decoration colors
.td-black       { text-decoration-color: $black !important; }
.td-blue        { text-decoration-color: $blue !important; }
.td-gray        { text-decoration-color: $gray !important; }
.td-green       { text-decoration-color: $green !important; }
.td-orange      { text-decoration-color: $orange !important; }
.td-gold        { text-decoration-color: $gold !important; }
.td-pink        { text-decoration-color: $pink !important; }
.td-purple      { text-decoration-color: $purple !important; }
.td-yellow      { text-decoration-color: $yellow !important; }
.td-white       { text-decoration-color: $white !important; }
.td-red         { text-decoration-color: $red !important; }
// flat ui color, see https: //flatuicolors.com/palette/defo
.td-turqoise    { text-decoration-color: #3498db !important; }
.td-emerald     { text-decoration-color: #2ecc71 !important; }
.td-river       { text-decoration-color: #3498db !important; }
.td-amthyst     { text-decoration-color: #9b59b6 !important; }
.td-asphalt     { text-decoration-color: #34495e !important; }
.td-greensea    { text-decoration-color: #16a085 !important; }
.td-neprhitis   { text-decoration-color: #27ae60 !important; }
.td-belize      { text-decoration-color: #2980b9 !important; }
.td-wisteria    { text-decoration-color: #8e44ad !important; }
.td-midnight    { text-decoration-color: #2c3e50 !important; }
.td-sunflower   { text-decoration-color: #f1c40f !important; }
.td-carrot      { text-decoration-color: #e67e22 !important; }
.td-alizarin    { text-decoration-color: #e67e22 !important; }
.td-clouds      { text-decoration-color: #ecf0f1 !important; }
.td-concrete    { text-decoration-color: #95a5a6 !important; }
.td-orange2     { text-decoration-color: #f39c12 !important; }
.td-pumpkin     { text-decoration-color: #d35400 !important; }
.td-pomegranate { text-decoration-color: #c0392b !important; }
.td-silver      { text-decoration-color: #bdc3c7 !important; }
.td-asbestos    { text-decoration-color: #7f8c8d !important; }

// border  colors
.br-black       { border-color: $black !important; }
.br-blue        { border-color: $blue !important; }
.br-gray        { border-color: $gray !important; }
.br-green       { border-color: $green !important; }
.br-orange      { border-color: $orange !important; }
.br-gold        { border-color: $gold !important; }
.br-pink        { border-color: $pink !important; }
.br-purple      { border-color: $purple !important; }
.br-yellow      { border-color: $yellow !important; }
.br-white       { border-color: $white !important; }
.br-red         { border-color: $red !important; }
// flat ui color, see https: //flatuicolors.com/palette/defo
.br-turqoise    { border-color: #3498db !important; }
.br-emerald     { border-color: #2ecc71 !important; }
.br-river       { border-color: #3498db !important; }
.br-amthyst     { border-color: #9b59b6 !important; }
.br-asphalt     { border-color: #34495e !important; }
.br-greensea    { border-color: #16a085 !important; }
.br-neprhitis   { border-color: #27ae60 !important; }
.br-belize      { border-color: #2980b9 !important; }
.br-wisteria    { border-color: #8e44ad !important; }
.br-midnight    { border-color: #2c3e50 !important; }
.br-sunflower   { border-color: #f1c40f !important; }
.br-carrot      { border-color: #e67e22 !important; }
.br-alizarin    { border-color: #e67e22 !important; }
.br-clouds      { border-color: #ecf0f1 !important; }
.br-concrete    { border-color: #95a5a6 !important; }
.br-orange2     { border-color: #f39c12 !important; }
.br-pumpkin     { border-color: #d35400 !important; }
.br-pomegranate { border-color: #c0392b !important; }
.br-silver      { border-color: #bdc3c7 !important; }
.br-asbestos    { border-color: #7f8c8d !important; }

